<section class="scrollable padder-lg gradient-bg" id="bjax-target" style="height: 100%">
   <h2 class="font-thin m-b">Featured Playlists<span class="musicbar animate inline m-l-sm" style="width:20px;height:20px">
      <span class="bar1 a1 bg-primary lter"></span>
      <span class="bar2 a2 bg-info lt"></span>
      <span class="bar3 a3 bg-success"></span>
      <span class="bar4 a4 bg-warning dk"></span>
      <span class="bar5 a5 bg-danger dker"></span>
      </span>
   </h2>
  <div class="row m-t-lg m-b-lg">
    <div class="col-sm-6" ng-repeat="playlist in customPlaylists | filter: 'Interstella 5555'">
      <div class="card featured_card" ng-click="loadPlaylist(playlist._id)">
         <div class="card_image featured_card_image">
           <p class="cardContentJob featured_playlist_name">{{playlist.name}}</p>
            <img data-ng-src="{{playlist.img}}" alt="" class="image">
            <i class="material-icons" onclick="favorite(this);">
            favorite_border</i>
         </div>
      </div>
   </div>
      <div class="col-sm-6" ng-repeat="playlist in customPlaylists | filter: 'Boombap to Bibimbap'">
        <div class="card featured_card" ng-click="loadPlaylist(playlist._id)">
           <div class="card_image featured_card_image">
             <p class="cardContentJob featured_playlist_name">{{playlist.name}}</p>
              <img data-ng-src="{{playlist.img}}" alt="" class="image">
              <i class="material-icons" onclick="favorite(this);">
              favorite_border</i>
           </div>
        </div>
     </div>
      </div>
   </div>

<!-- Most Played-->

   <h2 class="font-thin m-b">Popularity No Contest</h2>
   <div class="row row-sm">
     <div class="col-xs-6 col-sm-4 col-lg-15 col-xl-2" ng-repeat="playlist in customPlaylists | limitTo:5 | orderBy : '-play_count'">
       <div class="card">
          <div class="card_image">
             <img data-ng-src="{{playlist.img}}" alt="" class="image">
             <i class="material-icons" ng-click="favoritePlaylist(playlist._id)">
             favorite_border</i>
          </div>
          <div class="cardContent">
            <a href="/play?playlist={{playlist._id}}"<button class="cardContentButton"><i class="material-icons">play_arrow</i></button></a>
             <p class="cardContentName">{{playlist.name}}</p>
             <p class="cardContentJob">{{playlist.playlist_author}}</p>
             <p class="cardContentJob">Tags: <span class="label label-primary" ng-repeat="genre in playlist.tags">{{genre.tag}}</span></p>
          </div>
        </div>
    </div>
</div>

<!-- Playlist Row Ended -->


<!-- Playlist by User -->

   <h2 class="font-thin m-b" ng-show="loggedIn">Your Playlists</h2>
   <div class="row row-sm" ng-show="loggedIn">
     <div class="col-xs-6 col-sm-4 col-lg-15 col-xl-2" ng-repeat="playlist in customPlaylists | filter: username | limitTo:5">
       <div class="card">
          <div class="card_image">
             <img data-ng-src="{{playlist.img}}" alt="" class="image">
             <i class="material-icons" onClick="favorite(this);">
             favorite_border</i>
          </div>
          <div class="cardContent">
            <a href="/play?playlist={{playlist._id}}"<button class="cardContentButton"><i class="material-icons">play_arrow</i></button></a>
             <p class="cardContentName">{{playlist.name}}</p>
             <p class="cardContentJob">{{playlist.playlist_author}}</p>
             <p class="cardContentJob">Tags: <span class="label label-primary" ng-repeat="genre in playlist.tags">{{genre.tag}}</span></p>
          </div>
        </div>
    </div>
</div>

<!-- Playlist Row Ended -->

<div ng-repeat="tags in favoriteTags | limitTo: 3" ng-show="filtered.playlists.length">
   <h2 class="font-thin m-b">Tag Spotlight: <span class="label label-primary" ng-bind="filters.tag = tags.tag"></span></h2>
   <div class="row row-sm">
     <div class="col-xs-6 col-sm-4 col-lg-15 col-xl-2" ng-repeat="playlist in filtered.playlists = (customPlaylists | filter: filters.tag | limitTo:5)">
       <div class="card">
          <div class="card_image">
             <img data-ng-src="{{playlist.img}}" alt="" class="image">
             <i class="material-icons" onClick="favorite(this);">
             favorite_border</i>
          </div>
          <div class="cardContent">
             <a href="/play?playlist={{playlist._id}}"<button class="cardContentButton"><i class="material-icons">play_arrow</i></button></a>
             <p class="cardContentName">{{playlist.name}}</p>
             <p class="cardContentJob">{{playlist.playlist_author}}</p>
             <p class="cardContentJob">Tags: <span class="label label-primary" ng-repeat="genre in playlist.tags">{{genre.tag}}</span></p>
          </div>
        </div>
    </div>
</div>
</div>
<!-- Playlist Row Ended -->

<!-- Modal -->
<div class="modal fade" id="favoriteTagsModal" tabindex="-1" role="dialog" aria-labelledby="favoriteTagsModalLabel">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h2 class="font-thin m-b" id="myModalLabel">Add a Favorite Genre</h2>
</div>
<div class="modal-body">
  <form>
  <div class="form-group">
    <label>What genre is that?</label>
    <input type="text" class="form-control" placeholder="Go ahead, play favorites." ng-model="user.favoriteTag">
  </div>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-lg btn-pink lt b-white b-2x btn-block" ng-click="submitTags()">Good Choice!</button>
</div>
</form>
</div>
</div>
</div>


<div class="overlay" id="overlay-search-main">
   <a href="#" target="_self" id="close-search-main" class="overlay-close" ng-click="overlayClose"><i class="material-icons">clear</i></a>
   <div class="container" style="margin-top: 10%;">
     <div class="row">
        <div class="col-md-3" ng-repeat="playlist in customPlaylists | filter: searchModel ">
           <div class="card">
              <div class="card_image">
                 <img data-ng-src="{{playlist.img}}" alt="" class="image">
                 <i class="material-icons" ng-click="favoritePlaylist(playlist._id)">
                 favorite_border</i>
              </div>
              <div class="cardContent">
                <a href="/play?playlist={{playlist._id}}"<button class="cardContentButton"><i class="material-icons">play_arrow</i></button></a>
                 <p class="cardContentName">{{playlist.name}}</p>
                 <p class="cardContentJob">{{playlist.playlist_author}}</p>
                 <p class="cardContentJob">Tags: <span class="label label-primary" ng-repeat="genre in playlist.tags">{{genre.tag}}</span></p>
              </div>
  </div>
  </div>
  </div>
</div>
</div>
</section>
</section>
</section>
<!-- side content -->
</section>
<a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
