<section id="content" class="hbox stretch">
    <aside class="aside-lg bg-light ltest b-r">
        <section class="vbox">
            <section class="scrollable">
                <div class="wrapper">
                    <div class="text-center m-b m-t">
                        <a href="#" class="thumb-lg">
                            <img data-ng-src="{{profilepic}}" class="img-circle">
                        </a>
                        <div>
                            <div class="h3 m-t-xs m-b-xs">{{firstname}} {{lastname}}</div>
                            <small class="text-muted"><i class="fa fa-map-marker"></i> {{location}}</small>
                        </div>
                    </div>
                    <div class="panel wrapper">
                        <div class="row text-center">
                            <div class="col-xs-6">
                                <a href="#">
                                    <span class="m-b-xs h4 block">{{customPlaylists.length}}</span>
                                    <small class="text-muted">Favorited</small>
                                </a>
                            </div>
                            <div class="col-xs-6">
                                <a href="#">
                                    <span class="m-b-xs h4 block">{{customPlaylists.length}}</span>
                                    <small class="text-muted">Created</small>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <small class="text-uc text-xs text-muted">about me</small>
                        <p>{{about}}</p>
                        <small class="text-uc text-xs text-muted">favorite genres</small>
                        <p><span class="label label-primary">kpop</span> <span class="label label-primary">future funk</span> <span class="label label-primary">classical</span>
                        </p>
                        <div class="line"></div>
                    </div>
                </div>
            </section>
        </section>
    </aside>
    <aside class="bg-white">
        <section class="vbox">
            <header class="header bg-light lt">
                <ul class="nav nav-tabs nav-white">
                    <li class="active"><a href="#favorited" data-toggle="tab" target="_self">Favorited</a>
                    </li>
                    <li class=""><a href="#created" data-toggle="tab" target="_self">Created</a>
                    </li>
                    <li class=""><a href="#profile" data-toggle="tab" target="_self">Profile Settings</a>
                    </li>
                </ul>
            </header>
            <section class="scrollable">
                <div class="tab-content">
                    <div class="tab-pane active" id="favorited">
                        <div class="row row-sm">
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" ng-repeat="playlist in customPlaylists | inArray:Favorites:'_id'">
                                <div class="card">
                                    <div class="card_image">
                                        <img data-ng-src="{{playlist.img}}" alt="" class="image">
                                        <i class="material-icons" onClick="favorite(this);">
                                    favorite_border</i>
                                    </div>
                                    <div class="cardContent">
                                      <a href="/play?playlist={{playlist._id}}"<button class="cardContentButton"><i class="material-icons">play_arrow</i></button></a>
                                        <p class="cardContentName">{{playlist.name}}</p>
                                        <p class="cardContentJob">{{playlist.playlist_author}}</p>
                                        <p class="cardContentJob">Tags: <span class="label label-primary" ng-repeat="genre in playlist.tags">{{genre.tag}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="created">
                            <div class="row row-sm">
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" ng-repeat="playlist in customPlaylists | filter: username">
                                    <div class="card">
                                        <div class="card_image">
                                            <img data-ng-src="{{playlist.img}}" alt="" class="image">
                                            <i class="material-icons" onClick="favorite(this);">
                                      favorite_border</i>
                                        </div>
                                        <div class="cardContent">
                                          <a href="/play?playlist={{playlist._id}}"<button class="cardContentButton"><i class="material-icons">play_arrow</i></button></a>
                                            <p class="cardContentName">{{playlist.name}}</p>
                                            <p class="cardContentJob">{{playlist.playlist_author}}</p>
                                            <p class="cardContentJob">Tags: <span class="label label-primary" ng-repeat="genre in playlist.tags">{{genre.tag}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                                    <div class="card">
                                        <div class="card_image">
                                            <img src="http://blogs.qvcuk.com/wp-content/uploads/2016/02/PANTONE-Color-of-the-Year-2016-v5-2732x2048-648x430.jpg" alt="" class="image">
                                        </div>
                                        <div class="cardContent">
                                            <button class="cardContentButton"><i class="material-icons">add</i>
                                            </button>
                                            <p class="cardContentName">Create New Playlist</p>
                                            <p class="cardContentJob"></span>

                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="profile">
                        <div class="wrapper">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="alert alert-danger" ng-show="error">
                                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                                  <i class="fa fa-ban-circle"></i><strong>What did you do?</strong> Try to fill out this form better this time!.
                                </div>
                                <div class="alert alert-success" ng-show="success">
                                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                                  <i class="fa fa-ok-sign"></i><strong>Everything went according to plan</strong> Your Profile was updated!</a>.
                                </div>
                                <form role="form" data-validate="parsley" ng-submit="submitForm()" name="profile">
                                  <div class="form-group">
                                    <div class="col-sm-2">
                                    <label class="control-label">Current Profile Photo</label>
                                    <img data-ng-src="{{profilepic}}" class="img-circle" style="width: 100%;">
                                  </div>
                                    <div class="col-sm-10">
                                      <label class="control-label">New Profile Photo</label>
                                      <div class="dropfile visible-lg" ngf-drop="upload($file)" name="photos" id="photoDropZone">
                                        <small ng-bind="profilePicMessage"></small>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="clearfix"></div>
                                  <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" class="form-control" placeholder="First Name" ng-attr-placeholder="{{firstname}}" ng-model="user.firstname">
                                  </div>
                                  <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control" placeholder="Last Name" ng-attr-placeholder="{{lastname}}" ng-model="user.lastname">
                                  </div>
                                  <div class="form-group">
                                    <label>Current Location</label>
                                    <input type="text" class="form-control" placeholder="Location" ng-attr-placeholder="{{location}}" ng-model="user.location">
                                  </div>
                                  <div class="form-group" data-ng-class="{'has-error': profile.email.$invalid }">
                                    <label>Email</label>
                                    <input type="email" class="form-control" data-parsley-type="email" ng-attr-placeholder="{{email}}" ng-model="user.email" name="email">
                                  </div>
                                  <div class="form-group">
                                    <label>About You</label>
                                    <input type="text" class="form-control" ng-attr-placeholder="{{about}}" ng-model="user.about">
                                  </div>
                                  <div class="form-group pull-in clearfix" data-ng-class="{'has-error': profile.pw2.$error.pwmatch }">
                                    <div class="col-sm-6">
                                      <label>Enter new password</label>
                                      <input type="password" class="form-control" id="pwd" ng-model="user.password">
                                    </div>
                                    <div class="col-sm-6">
                                      <label>Confirm new password</label>
                                      <input type="password" class="form-control" name="pw2" ng-model="pw2" pw-check="user.password">
                                    </div>
                                  </div>
                                  <button type="submit" class="btn btn-lg btn-pink lt b-white b-2x btn-block"  ng-hide="profile.$invalid" ng-show="profile.$dirty">Submit</button>
                                </form>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overlay" id="overlay-search-main">
                   <a href="#" target="_self" id="close-search-main" class="overlay-close" ng-click="overlayClose"><i class="material-icons">clear</i></a>
                   <div class="container" style="margin-top: 10%;">
                     <div class="row">
                        <div class="col-md-3" ng-repeat="playlist in customPlaylists | filter: searchModel ">
                           <div class="card">
                              <div class="card_image">
                                 <img data-ng-src="{{playlist.img}}" alt="" class="image">
                                 <i class="material-icons" onClick="favorite(this);">
                                 favorite_border</i>
                              </div>
                              <div class="cardContent">
                                 <button class="cardContentButton" ng-click="addPlaylist(playlist._id)"><i class="material-icons">add</i></button>
                                 <p class="cardContentName">{{playlist.name}}</p>
                                 <p class="cardContentJob">{{playlist.playlist_author}}</p>
                                 <p class="cardContentJob">Tags: <span class="label label-primary" ng-repeat="genre in playlist.tags">{{genre.tag}}</span></p>
                              </div>
                  </div>
                  </div>
                  </div>
                </div>
                </div>
            </section>
        </section>
</section>
</section>
